@media (max-height: 653px) {
    .number-word {
        font-size: 4rem;
    }

    .number-word-text {
        font-size: 3rem;
    }

    .numbers-grid-item {
        font-size: 4rem;
        height: 6rem;
    }
}

@media (min-height: 654px) and (max-height: 800px) {
    .number-word {
        font-size: 5rem;
    }

    .number-word-text {
        font-size: 4rem;
    }

    .numbers-grid-item {
        font-size: 5rem;
        height: 8rem;
    }
}
