.add-numbers-grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr;
    max-width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    padding: 20px;
    margin: 0 20%;
    box-sizing: border-box;

    &__counter {
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        font-size: 6rem;
    }

    .cards__component__title {
        display: none;
    }

    .cards__component {
        min-height: 0vh !important;

        .cards__component__card {
            height: 5rem !important;
        }
    }

    .cards__component__card__svg {
        height: 100px;
    }
}

@media (max-width: 950px) {
    .cards-with-text,
    .add-numbers-game__card-text {
        font-size: 4rem;
    }
}

@media (max-width: 1100px) {
    .add-numbers-grid-container {
        margin: 0 5%;
    }
}
